<div class="container mb-5">
    <h1 class="my-3 text-center">Listing all articles:</h1>
    <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
<%= render 'articles' %>
  <div class="flickr_pagination mb-5">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>

