@import 'bootstrap/dist/css/bootstrap';
#main-section {
    background-image: asset-url('mainsec2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh
}

#main-section .container,
#main-section .row {
    height: 100%;
}

#sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    background-color: #e6d6d6;
    font-family: 'Roboto', sans-serif;
}